# üö¢ Titanic Survival Analysis
This notebook follows a step-by-step to-do list for exploring and analyzing the Titanic dataset.

### üìå Key Questions to Answer  
1. Did women and children have higher survival rates?  
2. How did passenger class (`Pclass`) affect survival?  
3. Did passengers who paid higher fares survive more?  
4. Did traveling with family (`SibSp`, `Parch`) improve survival chances?  
5. Did the embarkation port (`Embarked`) influence survival?  
6. Was there a correlation between age and survival?

## üîç Data Inspection & Cleaning
### ‚úÖ Step 1: Load and Inspect Dataset

In [6]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
df = pd.read_csv('assets/Titanic-Dataset.csv')
print(df.info())
print(df.describe())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB
None
       PassengerId    Survived      Pclass         Age       SibSp  \
count   891.000000  891.000000  891.000000  714.000000  891.000000
mean    446.000000    0.383838    2.308642   29.699118    0.523008
std     257.353842    0.486592    0.836071   14.526497    1.102743
min       1.000000    0.000000    1.000000    0.420000    0.000000
25%     223.500000    0.000000    2.000000   20.125000    0.000000
50%     446.000000    0.000000    3.000000   28.000000    0.000000
75%     668.500000    1.000000    3.000000   38.000000    1.000000
max     891.000000    1.000000    3.000000   80.000000    8.000000

            Parch        Fare
count  891.000000  891.000000
mean     0.381594   32.204208
std      0.806057   49.693429
min      0.000000    0.000000
25%      0.000000    7.910400
50%      0.000000   14.454200
75%      0.000000   31.000000
max      6.000000  512.329200

In [8]:
df.loc[df['Age'] > df['Age'].mean(),['Age']]

      Age
1    38.0
3    35.0
4    35.0
6    54.0
11   58.0
..    ...
873  47.0
879  56.0
881  33.0
885  39.0
890  32.0

[330 rows x 1 columns]

### ‚úÖ Step 2: Check for Missing Values

In [13]:
print(df.isnull().sum())
# df.loc[df['Age'].isna(),['Age']] = df['Age'].mean()
print(df['Age'].isnull().sum())

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age              0
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64
0

### ‚úÖ Step 3: Handle Missing Data

### ‚úÖ Step 4: Drop Unnecessary Columns

## üìä Univariate Analysis

- Age: Histogram to see age distribution  
- Fare: Box plot to detect outliers  
- Survived: Pie chart  
- Sex, Pclass, Embarked: Bar plots

## üìä Bivariate Analysis

- Survival vs. Sex: Bar plot  
- Survival vs. Pclass: Stacked bar plot  
- Survival vs. Age: Histograms or KDE plots  
- Survival vs. Fare: Box plot  
- Survival vs. Family Size: Bar plot

## üìä Multivariate Analysis

- Survival by Pclass and Sex: Grouped bar plot  
- Survival by Age and Fare: Scatter plot colored by survival

## üî• Correlation Heatmap

- Check correlation between numerical features like Pclass, Fare, Age, FamilySize, and Survived

## üîß Feature Engineering

- Create FamilySize = SibSp + Parch  
- Create AgeGroup = child, teen, adult, senior  
- Create IsAlone = 1 if FamilySize == 0 else 0

## üìù Summary of Findings
- Answer key questions  
- List top 3 factors influencing survival  
- Note surprising findings